<div class="todo-item"
     [class.todo-item--expired]="isExpired"
     [class.todo-item--favourite]="todo.favourite">
  <label>
    <input type="checkbox"
           [checked]="todo.completed"
           (click)="toggleCompleted($event)"/>
    <span class="todo-item__name"
          [class.todo-item__name--through]="todo.completed">
      {{ todo.name }}
    </span>
  </label>
  <div class="todo-item-info">
    <span class="material-icons todo-item__favourite" (click)="toggleFavourite()">favorite_border</span>
    <span class="material-icons todo-item__remove" (click)="delete()">clear</span>
    <span class="material-icons todo-item__edit" (click)="edit()">edit</span>
  </div>
  <div class="todo-item--completed" *ngIf="todo.completedAt">
    Completed at: {{ todo.completedAt | date : 'medium' }}
  </div>
</div>
